@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Bai Jamjuree", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: HSL(233, 100%, 69%);
  background: linear-gradient(
    0deg,
    rgba(97, 115, 255, 1) 0%,
    rgba(38, 186, 164, 1) 100%
  );
}

.Wrapper {
  border: solid 5px hsla(0, 0%, 100%, 0.33);
  padding: 5rem 3rem 3rem;
  background-color: #ffffff96;
}

header {
  text-align: center;
  margin-bottom: 2.5rem;
}
header h1 {
  font-size: 2.5rem;
}

.FAQs {
  margin-bottom: 2rem;
}

h3 {
  font-weight: 600;
  margin-bottom: 0.125rem;
}
.answers {
  margin-bottom: 1.5rem;
}
a {
  text-decoration: none;
  color: hsl(0, 0%, 0%);
}
a:hover {
  color: hsl(171, 77%, 34%);
}
